<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理后台</title>
</head>
<body>
  <div class="page">
    <% include components/top_inc.ejs %>
    <div class="content-wrap">
      欢迎你，管理员
    </div>     
  </div>
</body>
</html>